MYSQL_URL=jdbc:mysql://127.0.0.1:3306/hycomment?useSSL=false&serverTimezone=UTC
MYSQL_USERNAME=root
MYSQL_PASSWORD=your_mysql_password
REDIS_HOST=192.168.23.129
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password
AGENT_SERVICE_URL=http://127.0.0.1:8000
AGENT_CONNECT_TIMEOUT=3000
AGENT_READ_TIMEOUT=30000
MCP_SERVER_TOKEN=change_this_internal_token
